@{
    ViewData["Title"] = "Home Page";
}

        <div class="mt-5 p-5 bg-light text-center">
              <h1 class="display-4">Welcome to the best site for movies!</h1>
              <a class="btn btn-success" asp-controller="User" asp-action="Register">
                  Click for Register!
              </a>
            </div>
          