<div class="alert alert-dismissible alert-warning">
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
  <h4 class="alert-heading">Thank you!!!</h4>
  <p class="mb-0">The email will be checked as soon as posible.<a href="#" class="alert-link">Thank you!</a>.</p>
   <div class="btn-group">
       <a class="btn btn-success" asp-controller="Movies" asp-action="All">Home</a>
      <span style="padding:5px"></span>
    </div>
</div>