<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Thank you!!!</h2>
        <h2>The email will be checked as soon as posible.</h2>
        <hr />
        <p>Thank you!</p>
        <div class="btn-group">
             <a class="btn btn-success" asp-controller="Movies" asp-action="All">Home</a>
           <span style="padding:5px"></span>
        </div>

    </div>
</div>
