@model MovieViewModel

<div class="container d-flex align-items-center justify-content-center">
    <div class="col-12 col-md-9 col-lg-8">
            <div class="row" style="padding-bottom:10px">
                <div class="col">
                    <div class="card border-primary">
                        <div class="card-header">
                            <h1>@Model.Title</h1>
                        </div>
                        <div class="card-body">
    
                            <p class="movie-overview">
                            @Model.Description
                            </p>
                        @if (Model.MovieTrailer.Contains('&'))
                            Model.MovieTrailer = Model.MovieTrailer.Split('&')[0];
                            <p class="text-center">Trailer</p>
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe width="780" height="315"  class="embed-responsive-item" src="@Model.MovieTrailer.Replace("watch?v=","embed/")" allowfullscreen></iframe>
                            </div>
                    </div>
                </div>
            </div>
       </div>
    </div>
</div>
 <div class="text-center">
      <div class="btn-group">
          <a class="btn btn-outline-success" asp-controller="Movies" asp-action="All">
              Home
          </a>
           <a class="btn btn-outline-primary" asp-controller="Contacts" asp-action="Contact">
             Contact
          </a>
      </div>
</div>