@model ShoppingCartViewModel
<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2>Order completed successfully</h2>
        <hr />
        <p>Thank you!</p>
        <div class="btn-group">
           <div id="paypal-btn"></div>
           <span style="padding:5px"></span>
        </div>

    </div>
</div>

@section Scripts{
<script src="https://www.paypalobjects.com/api/checkout.js"></script> 
<script>
      let _total = @Html.Raw(Model.Total);
      paypal.Button.render({
          //Configure environment
          env: 'sandbox',
          client: {
              sandbox: 'AcKRtgL4i68EZ2ZYuYUx3ilihAg2YhL5dtF_m19A8MjBWVOn6ewNS4M_uV8gA3xi98zTcUq38gUHbVFx'
          },
          //Customize button
          locale: 'en_US',
          style: {
              size: 'small',
              color: 'gold',
              shape: 'pill'
          },
          commit: true,
          //Set up a payment
           payment: function (data, actions) {
                      return actions.payment.create({
                             transactions: [{
                                 amount: {
                                     total: _total,
                                     currency: 'USD'
                                 }
                             }]
                         });
           },
          //Execute the payment
          onAuthorize: function (data, actions) {
              console.log("payment executed");
          }
      }, '#paypal-btn')
  </script>
}
